%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
{cover_enabled, true}.

{deps, [ ]}.

{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "log",
    "doc/*.{html,png,css,md}",
    "doc/edoc-info"
  ]}.

{edoc_opts, [
    {def, [
        {version, "0.1.0"}
      ]},
    {layout, edown_layout},
    {doclet, edown_doclet},
    {app_default, "http://www.erlang.org/doc/man"},
    {stylesheet, ""},
    {image, ""},
    {pretty_printer, erl_pp}
  ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
    %warn_missing_spec
]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
